@import 'import/reset';
@import 'import/variables';
@import 'import/bootstrap';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_opensans';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.header {
  height: 520px;

  background-image: url(../img/bg/header-long.jpg);
  background-position: center top;
  background-size: cover;
}

















@import 'import/print';
