@import 'import/reset';
@import 'import/variables';
@import 'import/bootstrap';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_opensans';
@import 'cs-go';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/bg/body.png);
  background-repeat: repeat;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.title14,
.title16 {
  font-weight: normal;

  margin: 0;

  text-transform: uppercase;

  color: $darkblue;
}
.title14 {
  font-size: em(14, 14);
}
.title16 {
  font-size: em(16, 14);
}
.postdata {
  font-size: em(12, 14);

  display: block;

  margin-bottom: 5px;

  color: $darkblue;
  .date,
  .likes {
    margin-right: 12px;
  }
  .likes,
  .comments {
    i {
      margin-right: 5px;
    }
  }
}
.btn {
  display: inline-block;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 2px solid transparent;
  border-radius: $base-border-radius;
}
.btn-orange {
  color: #000;
  border-color: $orange;
  background-color: $orange;
  &:hover,
  &:active {
    background-color: darken($orange, 15%);
  }
}
.btn-transparent {
  border-color: #fff;
  background-color: transparent;
  &:hover,
  &:active {
    color: #fff;
    background-color: rgba(255, 255, 255, .3);
  }
}
.sld-nav-prev,
.sld-nav-next {
  display: block;

  width: 50px;
  height: 50px;

  text-align: center;

  color: $darkblue;
  border-radius: 50%;
  background-color: $orange;
  &:hover,
  &:active {
    background-color: lighten($orange, 15%);
  }
}
.sld-nav-prev {
  left: 0;
}
.sld-nav-next {
  right: 0;
}
.header {
  min-height: 520px;
  padding-bottom: 15px;

  background-image: url(../img/bg/header-long.jpg);
  background-position: center top;
  background-size: cover;
  .navbar {
    height: 130px;
    margin-bottom: 80px;
  }
  .navbar-form {
    position: absolute;
    top: 40px;
    right: 15px;

    width: 190px;
    height: 30px;
    margin: 0;
    padding: 0;

    border: 0;
    box-shadow: none;
    .form-group {
      position: relative;

      width: 100%;
      height: 100%;
    }
    .form-control {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      color: #fff;
      border: 1px solid $lightblue;
      border-radius: $base-border-radius;
      background-color: transparent;
    }
    .button-search {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 30px;

      text-align: center;

      color: #fff;
      border: 0;
      background-color: transparent;
    }
  }
  h4 {
    text-align: center;
  }
  .title-main {
    font-size: em(32, 14);

    margin-bottom: 30px;

    text-transform: uppercase;

    color: $orange;
  }
  .title-sub {
    font-size: em(24, 14);

    margin-bottom: 20px;

    color: #fff;
  }
  .title-small {
    font-size: em(12, 14);

    margin-bottom: 50px;

    text-transform: uppercase;

    color: #fff;
  }
  .btn-groupe {
    display: block;

    text-align: center;
  }
  .btn-orange,
  .btn-transparent {
    width: 255px;
    margin: 0 15px 15px;
  }
}

.navbar-header {
  position: relative;

  width: 100%;
  .navbar-brand {
    position: absolute;
    top: 30px;
    left: 15px;

    width: 220px;
    height: 80px;

    text-align: center;

    color: #fff;
    border: $base-border;
  }
}

.main-block-top {
  .container {
    padding: 70px 15px 0;
  }
  .interesting,
  .main-news,
  .widget-block {
    position: relative;

    padding: 0;

    box-shadow: $base-box-shadow;
    .inner {
      height: 490px;
      padding: 15px;

      background-color: #fff;
    }
    .title16 {
      position: absolute;
      top: -25px;
      left: 0;
    }
  }
  .interesting {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;

        height: 80px;
        margin: 0 0 15px;
        a {
          position: relative;

          display: block;
          overflow: hidden;

          width: 100%;
          height: 100%;
          padding: 5px 5px 15px 95px;

          text-decoration: none;

          color: $darkblue;
          img {
            position: absolute;
            top: 0;
            left: 0;

            width: 80px;
            height: 80px;
          }
          .title14 {
            font-weight: $semibold;
          }
          span {
            font-size: em(12, 14);
          }
        }
        &:last-child {
          margin: 0;
        }
        &:hover {
          a {
            background-color: $orange;
          }
        }
      }
    }
  }
  .main-news {
    padding-right: 15px;
    .feature-image {
      position: relative;

      display: block;
      overflow: hidden;

      margin: 0 0 20px;
      img {
        width: 100%;
      }
      .category-in-block {
        position: absolute;
        top: 15px;
        left: 15px;
        .category-in {
          margin-right: 15px;
          padding: 5px 10px;

          color: #fff;
          background-color: $lightgray;
        }
      }
    }
    .title16 {
      position: relative;
      top: auto;
      left: auto;

      margin: 0 0 10px;

      text-transform: none;
      a {
        text-decoration: underline;

        color: $darkblue;
      }
    }
  }
  .widget-block {
    padding-left: 15px;
  }
  .widget-block-in {
    position: relative;
  }
}
.shop-slider {
  padding-top: 40px;
  .title16 {
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .col-md-3 {
    position: relative;
    z-index: 5;
    img {
      width: 100%;
    }
    h5,
    h6 {
      line-height: 1;

      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      margin: 0;

      text-align: center;
    }
    h5 {
      top: 20px;
    }
    h6 {
      bottom: 20px;
    }
  }
}
.main-block-middle {
  .container {
    position: relative;

    padding: 70px 15px 0;

    background-color: red;
  }
  .title16 {
    position: absolute;
    top: -25px;
    left: 0;

    margin-bottom: 5px;
  }
  .last-guides,
  .forum-popular {
    .inner {
      background-color: #fff;
    }
  }
  .last-guides {
    padding: 0 15px 0 0;
    .inner {
      padding-right: 0;
    }
    li {
      position: relative;

      display: block;

      height: 105px;
      margin: 0 0 15px;
      padding: 5px 10px 0 160px;
      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 145px;
        height: 100%;
      }
      .title14 {
        margin-bottom: 2px;
      }
      p {
        font-size: em(12, 14);

        left: 1.5;

        color: $gray;
      }
      a {
        text-decoration: none;

        color: $darkblue;
      }
    }
  }
  .forum-popular,
  .forum-newpost {
    .popular-title,
    .newpost-title {
      margin: 0 0 20px;

      @extend .title14;
      i {
        font-size: em(20, 16);
      }
    }
  }
  .forum-popular {
    padding: 0 0 0 15px;
    .title16 {
      left: 15px;
    }
    .popular-title {
      i {
        color: #f44336;
      }
    }
    .inner {
      padding: 15px 15px 15px 0;
    }
  }
}





.footer {
  min-height: 340px;

  background-image: url(../img/bg/footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .footer-top {
    height: 300px;
  }
  .footer-bottom {
    height: 40px;
    padding: 15px 0 0;

    text-align: center;

    background-color: rgba(0, 0, 0, .3);
    p {
      font-size: em(12,14);
      font-weight: $light;

      margin: 0;

      color: #fff;
    }
  }
}





@import 'media';
@import 'import/print';
