// Font Sizes
$base-font-size: 14px;
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: $base-font-family;
$light: 300;
$semibold: 600;
$bold: 700;
$ebold: 800;


// Line height
$base-line-height: 1.1;
$heading-line-height: 1.5;

// Other Sizes
$width: 980px;
$footer: 50px;
$footer_margin: $footer - 2 * $footer;
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$darkblue: #071c2d;
$blue: #263238;
$lightblue: #33818d;
$gray: #333;
$lightgray: #777;
$orange: #ffc107;


// Font Colors
$base-font-color: $gray;
$action-color: $orange;

// Border
$base-border-color: $lightgray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
$base-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
$action-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .50);

// Forms
$form-box-shadow: $base-box-shadow;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$trs: all .15s;
$base-duration: 150ms;
$base-timing: ease;
$base-transition: background-color $base-duration * 5 $base-timing, color $base-duration * .7 $base-timing, opacity $base-duration * .3 $base-timing;
